# Postgres Live
DB_HOST=postgres                        
DB_DRIVER=postgres
API_SECRET=w8EPuLtI                            
DB_USER=mumaroi
DB_PASSWORD=ma112233
DB_NAME=api
DB_PORT=5432 

# Used by pgadmin service 
PGADMIN_DEFAULT_EMAIL=mumaroi@admin.com
PGADMIN_DEFAULT_PASSWORD=ma112233